{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>Hello {{ websiteName }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>C:/Users/grego/Travail/Projets/Moviz/src/Controller/PageController.php</code></li>
        <li>Your template at <code>C:/Users/grego/Travail/Projets/Moviz/templates/page/index.html.twig</code></li>
    </ul>
</div>
{% endblock %}